<!--ugly but for that turbolinks don't relead de head is a momentanly solution - refactorme!!!-->
<script>
    function renderFieldValue() {
        //alert($('#fieldWorkMode').val());
        var label = '<label for="project_hour_rate">Hour rate</label><br>';
        var input = '<input id="project_hour_rate" name="project[hour_rate]" type="number" value="" />';
        if ($('#fieldWorkMode').val() == 'by_delivery') {
            label = '<label for="project_value">Value</label><br>';
            input = '<input id="project_value" name="project[value]" type="number" value="" />';
        }
        $('#sectionValue').empty();
        $('#sectionValue').append(label);
        $('#sectionValue').append(input);
    }
</script>

<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer, 'Customer' %><br>
    <%= f.select :customer_id, Customer.all.collect {|c| [ c.name, c.id ] }, {  selected: f.object.customer_id, include_blank: true } %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.select :state, options_for_select( %w(proposal contract started finish), f.object.state), include_blank: false %>
    <!-- <%= f.text_field :state %> -->
  </div>
  <div class="field">
    <%= f.label :work_mode %><br>
    <%= f.select :work_mode, options_for_select( %w(by_hours by_delivery), f.object.work_mode), { include_blank: false} , { :onchange => 'renderFieldValue();', :id => 'fieldWorkMode' } %>
  </div>
  <% if f.object.work_mode == 'by_hours' %>
    <div class="field" id="sectionValue">
      <%= f.label :hour_rate %><br>
      <%= f.number_field :hour_rate %>
    </div>
  <% else %>
    <div class="field" id="sectionValue">
      <%= f.label :value %><br>
      <%= f.number_field :value %>
    </div>
  <% end %>
  <div style="height: 210px;">
    <div class="field" style="float: left; padding-right: 15px;">
      <%= f.label :start_date %><br>
      <%= f.date_select :start_date %>
    </div>
    <div class="field" style="float: left; padding-right: 15px;">
      <%= f.label :end_date %><br>
      <%= f.date_select :end_date %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
